Results
figures
topview
Parameter_Study
*.csv
*.png
analyze_profiles/check_*.py

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Python Packages
*.egg
*.wheel

# C extensions
*.so

# Test/Temporary Files
*.log
*.tmp
*.swp
*.swo
*.bak
*.backup
*~

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Static and media files
staticfiles/
media/

# My PyQt or GUI resources
*.qrc
*.ui

# Ignore JSON files
*.json

# Ignore test data folder
test_data/
*.npz
*.png

# Ignore IDE-specific files
.idea/
.vscode/
*.iml

series